DOT_UPLOAD_STORE_FILE=my-keystore.keystore # Name of keystore file, located in android/app
DOT_UPLOAD_KEY_ALIAS=my-keystore-alias # Alias of keystore file
DOT_UPLOAD_STORE_PASSWORD=android # Keystore Password
DOT_UPLOAD_KEY_PASSWORD=android # Keystore Password